.main__container {
    background-image: url(../img/main-page.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 675px;
   
}

.logo-wrapper {
    text-align: center;
}

.logo {
    width: 200px;
   filter: invert(80%);
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button {
    text-decoration: none;
    color: #FFFFFF;
    padding: 30px;
    margin: 20px;
    font-size: 30px;
    width: 125px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    filter: opacity(70%);
    border-radius: 15%;
}